NEXT_PUBLIC_APP_URL=http://localhost:3000
NODE_ENV=development

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
CLERK_SIGN_IN_URL=/sign-in
CLERK_SIGN_UP_URL=/sign-up
CLERK_AFTER_SIGN_IN_URL=/
CLERK_AFTER_SIGN_UP_URL=/onboarding

DATABASE_URL=
DIRECT_URL=

VERITAS_API_URL=https://verifyapi.leulzenebe.pro
VERITAS_API_KEY=
VERITAS_PAYOUT_TELEBIRR_ID=
VERITAS_PAYOUT_CBE_ID=
VERITAS_WEBHOOK_SECRET=

DIDIT_API_URL=https://verification.didit.me
DIDIT_API_KEY=
DIDIT_WEBHOOK_SECRET=
DIDIT_WORKFLOW_ID=

WALIYA_API_URL=https://waliyatopup.com/api
WALIYA_PUBLIC_KEY=
WALIYA_SECRET_KEY=
WALIYA_USD_ETB_RATE=

BREVO_API_URL=https://api.brevo.com/v3
BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=ZTN

R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=ztn
R2_PUBLIC_URL=

CREDENTIAL_ENCRYPTION_KEY=

CRON_SECRET=
